In [1]:
import pandas as pd
import re

In [2]:
# Q1

pattern="[\s,]"
sample_text="Python Exercises, PHP exercises"
replace_taxt=re.sub(pattern,":",sample_text)
print(replace_taxt)

Python:Exercises::PHP:exercises

In [3]:
#Q2

Dict= {"Summary" : ["hello, world!","XXXXX test","123four, five:, six..."]}
df=pd.DataFrame(Dict)
df

                  Summary
0           hello, world!
1              XXXXX test
2  123four, five:, six...

In [4]:
df["Summary"]=df["Summary"].str.replace(r"[^a-z]"," ",regex=True)
df

                  Summary
0           hello  world
1                    test
2     four  five   six

In [5]:
#Q3

def find(text):
    word=re.compile(r"\w{4,}")
    Char=word.findall(text)
    print(Char)
    
find("Virat Kohli is cricketer born on 5 nov. 1998")

['Virat', 'Kohli', 'cricketer', 'born', '1998']

In [6]:
#Q4

def find_word(text):
    word=re.compile(r"\w{3,5}")
    Char=word.findall(text)
    print(Char)
    
find_word("Virat_Kohli is cricketer born on 5 nov. 1998")

['Virat', '_Kohl', 'crick', 'eter', 'born', 'nov', '1998']

In [7]:
#Q5

def ABC():
    list1=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
    for word in list1:
        pat=re.compile(r"[()]")
        print(pat.sub("",word))

ABC()

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

In [8]:
#Q6 

with open ("Q6.txt") as file:
    for line in file:
        line=re.sub(r"\s\([^)]*\)","",line)
        print(line)

["example", "hr@fliprobo", "github", "Hello", "Data"]

In [9]:
#Q7

Text2="ImportanceOfRegularExpressionsInPython"

result=re.findall(r"[A-Z][a-z]+",Text2)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [64]:
#Q8

def format_text(text):
    pattern=r"(\d+)(\D+)"
    new_text=re.sub(pattern,r" \1\2",text)
    print(new_text)
    
sample_text="RegularExpression1IsAn2ImportantTopic3InPython"

format_text(sample_text)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [80]:
#Q9

def format_text1(text):
    pattern=r"(\d+)(\D+)"
    new_text=re.sub(pattern,r" \1 \2",text)
    print(new_text)
    
sample_text1="RegularExpression1IsAn2ImportantTopic3InPython"

format_text1(sample_text1)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [12]:
#Q10

df=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [13]:
df["first_five_letter"]=df["Country"].str.extract(r"(\w{1,6})")
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letter
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

In [14]:
#Q11

def text_match(text):
    pat=re.compile(r"^[a-zA-Z0-9\_]*$")
    if pat.search(text):
        print("Found Match")
    else:
        print("Not Match")
    
text_match("Virat_Kohli_is_cricketer_born_on_5_no_199")

Found Match

In [84]:
#Q12

def number_match(text):
    pat=re.compile(r"^[0-9]")
    if pat.match(text):
        return "String start with number"
    else :
        return "String Not start with number"
    
number_match("1Virat Kohli is_cricketer_born_on_5_no_199")

'String start with number'

In [86]:
#Q13

def Remove_zero(text):
    line=re.sub(r"\.0+",'.',text)
    new_text=re.sub(r"^0+","",line)
    return new_text

Remove_zero("0001.011.2021.0088.0001")

'1.11.2021.88.1'

In [17]:
#Q14

with open ("Q14.txt") as file:
    for line in file:
        line1=re.search(r"\b([A-Z][a-z]+) \d{1,2}\w{2} \d{4}",line)
        print(line1.group())

August 15th 1947

In [18]:
#Q15

pat=["fox","dog","horse"]
text='The quick brown fox jumps over the lazy dog.'
for msg in pat:
    if re.search(msg,text):
        print(msg,"is match in text")
    else :
        print(msg, "not in a text")

fox is match in text
dog is match in text
horse not in a text

In [89]:
#Q16

pat="fox"
text='The quick brown fox jumps over the lazy dog.'
Match=re.search(pat,text)
print(Match.group(),"found in text at index",Match.start(),"to",Match.end())

fox found in text at index 16 to 19

In [20]:
#Q17

Text='Python exercises, PHP exercises, C# exercises'
pat="exercises"
Findall=re.findall(pat,Text)
Findall

['exercises', 'exercises', 'exercises']

In [21]:
#Q18

Text='Python exercises, PHP exercises, C# exercises'
pat=re.compile("exercises")
for Match in pat.finditer(Text):
    print(Match.group(),"at index",Match.start(),"to",Match.end())

exercises at index 7 to 16
exercises at index 22 to 31
exercises at index 36 to 45

In [22]:
#Q19

def date(Date):
    New_date=re.sub(r"(\d{4})-(\d{1,2})-(\d{1,2})",r"\3-\2-\1",Date)
    print("Original Date" ,Date,"New formated Date",New_date)
    
date("2022-12-31")

Original Date 2022-12-31 New formated Date 31-12-2022

In [44]:
#Q20

def Find_decimal(text):
    pat=re.compile(r"\b\d+\.\d{1,2}\b")
    new_text=pat.findall(text)
    return new_text

Find_decimal("01.12 0132.123 2.31875 145.8 3.01 27.25 0.25")

['01.12', '145.8', '3.01', '27.25', '0.25']

In [43]:
#Q21

def find_string(text):
    pat=re.compile(r"\b[0-9]+\.\d{1,2}\b")
    for line in pat.finditer(text):
        print(line.group(),"is at index",line.start(),"to",line.end())
    
find_string("01.12 0132.123 2.31875 145.8 3.01 27.25 0.25")

01.12 is at index 0 to 5
145.8 is at index 23 to 28
3.01 is at index 29 to 33
27.25 is at index 34 to 39
0.25 is at index 40 to 44

In [25]:
#Q22

def max_num():
    marks='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
    a=re.findall("\d+",marks)
    print(max(a))
max_num()

950

In [26]:
#Q23

def includ_space(text):
    A=re.findall(r"[A-Z][a-z]+",Sample_Text)
    print(" ".join(A))
    
Sample_Text="RegularExpressionIsAnImportantTopicInPython"
includ_space(Sample_Text)

Regular Expression Is An Important Topic In Python

In [27]:
#Q24
def Sequnce(word):
    A=re.findall("[A-Z][a-z]+",word)
    print(A)
    
Sequnce("This is a Sample Text with Multiple Matches")

['This', 'Sample', 'Text', 'Multiple', 'Matches']

In [28]:
#Q25

Word="Hello hello world world"
new_word=re.sub(r"\b(\w+)\s+\1",r"\1",Word)
new_word

'Hello hello world'

In [29]:
#Q26
def Syntex(texts):
    pattern="[A-Za-z]+[0-9]+$"
    if re.search(pattern,texts):
        print("string end with alphanumeric.")
    else:
        print("string not end with alphanumeric.")

Syntex("Hello my name is Jayesh23")

string end with alphanumeric.

In [30]:
#Q27

Sampletext="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization
as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" 
No wo"""
syntex=re.findall("#\w+",Sampletext)
syntex

['#Doltiwal', '#xyzabc', '#Demonetization']

In [95]:
#Q28

SampleText="""@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization  are all different party leaders"""
new_line=re.sub("<U[^>]*>","",SampleText)
new_line

'@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization  are all different party leaders'

In [93]:
#Q29

with open ("Q29.txt") as file:
    for line in file:
        line1=re.findall(r"\d{1,2}-\d{1,2}-\d{2,4}",line)
        print(line1)

['12-09-1992', '15-12-1999']

In [42]:
#Q30

def Fun(text):
    pat=re.compile(r"\b\w{2,4}\b")
    Remove_word=pat.sub("",text)
    print(Remove_word)
    
Fun("The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.")

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.